# ===============
# Archivos de Datos (de tu versión de master)
# ===============
*.xlsx
*.csv

# ===============
# Estructura del Proyecto (combinando ambas)
# ===============
data/
output/

# ===============
# Entornos y Sistema (combinando ambas)
# ===============
.vscode/
.venv/
venv/
__pycache__/

# ===============
# Archivos de Configuración Sensibles (de tu versión de master)
# ===============
config.ini
.env

# ===============
# Archivos de Base de Datos y Diagramas (de tu versión de main)
# ===============
*.pgerd
*.rd
